<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table,th,td{
            border:1px solid #ccc;
            border-collapse: collapse;
        }
        table{
            width:1000px;
            margin:auto;
            font-size: 25px;
        }
        .btn{
            display: block;
            width:998px;
            border:1px solid #ccc;
            border-top:none;
            height:30px;
            text-align: center;
            line-height: 30px;
            margin:auto;
        }
    </style>
</head>
<body>
   <table>
       <tr>
           <th>id</th>
           <th>姓名</th>
           <th>年龄</th>
           <th>性别</th>
           <th>操作</th>
       </tr>
       {% for item in results %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>
                <a href="/del?id={{item[0]}}">删除</a>
            </td>
        </tr>
       {% endfor %}
   </table>
   <a href="/add" class="btn">+</a>
</body>
</html>